services:
  db:
    image: postgres:15
    container_name: rag_db
    restart: always
    env_file:
      - .env.local
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    networks:
      - backend

  redis:
    image: redis:7
    container_name: rag_redis
    ports:
      - "6379:6379"
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: rag_pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend

  rag-chat-storage:
    build: ../rag-chat-storage
    container_name: rag-chat-storage
    ports:
      - "8080:8080"
    env_file:
      - .env.local
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      # Config + Discovery
      # SPRING_CLOUD_CONFIG_URI: http://rag-config-server:8888
      SPRING_CONFIG_IMPORT: optional:configserver:http://rag-config-server:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://rag-discovery-server:8761/eureka/
      # DB
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      API_KEY: ${API_KEY}
      APP_INTERNAL_SERVICE_KEY: ${INTERNAL_SERVICE_KEY}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      logstash:
        condition: service_healthy
      rag-config-server:
        condition: service_healthy
      rag-discovery-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  rag-api-gateway:
    build: ../rag-api-gateway
    container_name: rag-api-gateway
    ports:
      - "8085:8085"
    env_file:
      - .env.local
    environment:
      JWT_SECRET: ${JWT_SECRET}
      GATEWAY_API_KEY: ${API_KEY}
      APP_INTERNAL_SERVICE_KEY: ${INTERNAL_SERVICE_KEY}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      #SPRING_CLOUD_CONFIG_URI: http://rag-config-server:8888
      SPRING_CONFIG_IMPORT: optional:configserver:http://rag-config-server:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://rag-discovery-server:8761/eureka/
    depends_on:
      redis:
        condition: service_healthy
      logstash:
        condition: service_healthy
      rag-chat-storage:
        condition: service_healthy
      rag-config-server:
        condition: service_healthy
      rag-discovery-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  rag-discovery-server:
    build: ../rag-discovery-server
    container_name: rag-discovery-server
    ports:
      - "8761:8761"
    environment:
      # SPRING_PROFILES_ACTIVE: docker
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 20s
      timeout: 10s
      retries: 5
    networks:
      - backend

  rag-config-server:
    build: ../rag-config-server
    container_name: rag-config-server
    ports:
      - "8888:8888"
    environment:
      #SPRING_PROFILES_ACTIVE: docker
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      GIT_USERNAME: ${GIT_USERNAME}
      GIT_PASSWORD: ${GIT_PASSWORD}
      # if using a local native repo, you might map volumes instead
    depends_on:
      rag-discovery-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 6
    networks:
      - backend

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 20s
      timeout: 10s
      retries: 5
    networks:
      - backend

  logstash:
    image: docker.elastic.co/logstash/logstash:8.12.2
    container_name: logstash
    ports:
      - "5001:5001"
    volumes:
      - ./logstash/pipeline/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
      - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9600/_node/pipelines" ]
      interval: 10s
      timeout: 5s
      retries: 6
    networks:
      - backend

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.2
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - xpack.security.enabled=false
    ports:
      - "5601:5601"
    depends_on:
      elasticsearch:
        condition: service_healthy
    networks:
      - backend

networks:
  backend:

volumes:
  esdata:
